

#Info {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    style="display;
    align-items: center;
  }

  ul {
    align-content: center;
  }

  #Card {
    

  }




footer  {
    border-radius: 25px;
    background-color: teal;
    padding: 20px; 
    margin: 9pc;
    height: 500;

}