html {
    background-image: url(http://www.seekgif.com/uploads/2017/05/simple-backgrounds-15.jpeg);
    background-size: cover;

}

#Info {
    margin: auto;
    width: 35%;

    border: 3px solid black;
    padding: 10px;
    style="display;
    align-items: center;
    text-align: center;
    background-color: #DBEDF3; 

  }

  h1 {
 text-align: center;
 color: whitesmoke;
 font-family: monospace;
 font-size: 114px;  
 height: 4%; 
 text-shadow: 2px 2px 2px black;


}
  
footer  {
    border-radius: 25px;
    background-color: #9faeb8;
    padding: 20px; 
    margin: 9pc;
    height: 500px;
    border: 8px solid black;
    text-align: center;
    

}

#postFullname {
    font-size: 40px;
    font-family: Bookman, URW Bookman L, serif;
    font-weight: 600;
    font-style: oblique;
    text-align: center;
    position: relative;
    bottom:40px;

}

#profilePic {
width: 180px;
height: 180px;
}

section1 {
    font-size: 30px;

}

   